*{
    background-color: salmon;
    /* margin: 8px; */
    /* background-color: blue; */
}
.contianer{
    max-width: 100%;
    color: azure;
    padding-left: 4px;
    
}
h1{
    color: rgb(243, 10, 57);
    font-size: 54px;
    text-align: center;
    /* border: 2px blue; */
}
h2{
    color: crimson;
    /* text-align: center; */
    font-size: 39px;
}
p{
    font-size: 26px;
    color: rgba(85, 45, 2, 0.755);
    padding: 4px;
    /* padding-left: 12px; */
    
}
h3{
    color: red;
    text-align: left;
    font-size: 18px;
}
